@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #fff;
  background: #fff;
  font-size: 13px;
  position: relative;
  min-height: 100%;
  height: auto;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

ul {
 list-style: none;
}

a {
  color: #fff;
  text-decoration: none !important;
}

img {
  max-width: 100%;
  height: auto;
}
