<div class="card" *ngIf="!uploader.getNotUploadedItems().length">
  <div class="card-header text-center py-2">
    <span>Foto de perfil</span>
  </div>
  <div class="card-body pb-1">
    <div class="row">
      <div class="col-12">
        <p><i class="fa fa-check-circle"></i> Tu cara debe estar claramente visible en tu foto.</p>
        <p><i class="fa fa-check-circle"></i> Idealmente mostrando desde el pecho para arriba.</p>
        <p><i class="fa fa-check-circle"></i> Trata de que tu foto no contenga gráficas u otros efectos.</p>
        <p><i class="fa fa-check-circle"></i> Debes aparecer solo en tu foto.</p>
      </div>
    </div>
    <div class="footer text-center mt-4">
      <label for="photo" class="py-1"><i class="fa fa-search"></i>Buscar Foto</label>
      <input type="file" id="photo" name="photo" hidden ng2FileSelect [uploader]="uploader">
    </div>
  </div>
</div>
<div class="card" *ngIf="uploader.getNotUploadedItems().length">
  <div class="card-header text-center py-2">
    <span>Edita tu foto de perfil</span>
  </div>
  <div class="card-body text-center">
    <div *ngFor="let item of uploader.queue; let first = first;">
      <img thumbnail [image]="item?._file"/>
    </div>
    <div class="footer mt-4">
      <button type="button" name="image" (click)="uploader.uploadAll()">
        <i class="fa fa-upload"></i>  Subir foto
      </button>
    </div>
  </div>
</div>
