<div id="admin">
  <div class="card">
    <a routerLink="">Back to the home</a>
    <h4 class="card-header">Registered users</h4>
    <div class="card-body">
      <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Age</th>
          <!--<th scope="col">Role</th>-->
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <!--<tr>-->
          <!--<td colspan="4">There are no registered users.</td>-->
        <!--</tr>-->
        </tbody>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.name}}</td>
          <!--<td></td>-->
          <td>{{user.age}}</td>
          <td class="text-right">
            <button class="btn btn-sm btn-danger" (click)="deleteUser(user)">
              <i class="fa fa-trash"></i> Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <h4 class="card-header">Add new user</h4>
    <div class="card-body">
      <form class="form-inline" [formGroup]="addUserForm" (ngSubmit)="addUser()">
        <input class="form-control mr-2" type="text" name="name" formControlName="name" placeholder="Name">
        <input class="form-control mr-2" type="number" name="age" formControlName="age" placeholder="Age" min="0">
        <button class="btn btn-success" type="submit" [disabled]="!addUserForm.valid"><i class="fa fa-plus"></i>Add User</button>
      </form>
    </div>
  </div>
</div>
