<div id="list" class="pt-2">
  <h5 class="highlights text-uppercase d-none d-lg-block m-0">Highlights of day</h5>
  <div class="row">
    <div *ngFor="let user of users | paginate: { itemsPerPage: 12, currentPage: p}" class="col-6 col-md-4 col-lg-3 mt-2">
      <a [routerLink]="['/home/profile/id', user.id]" class="user" [ngStyle]="setUserImage(user)">
        <div class="inside-desc">
          <span>{{user.username}}</span>
          <span class="d-inline-block">{{setUserAge(user)}} years</span>
          <span class="d-inline-block right">
            <i class="fa fa-comment"></i>
            Chat
          </span>
        </div>
        <div class="desc">
          <span class="mb-2 text-capitalize">
            Search {{user.looking}}
            <i class="fa fa-circle right mt-2"></i>
          </span>
          <span>
            {{user.living}}
            <i class="fa fa-camera right mt-2"></i>
          </span>
        </div>
      </a>
    </div>
  </div>
  <div class="controls text-center my-4" *ngIf="users.length > 12">
    <pagination-template #pT="paginationApi"
                         (pageChange)="p = $event">

            <div class="pagination" [class.disabled]="pT.isFirstPage()">
                <a *ngIf="!pT.isFirstPage()" (click)="pT.previous()"><i class="fa fa-chevron-left"></i></a>
            </div>

            <div class="pagination" [class.disabled]="pT.isLastPage()">
                <a *ngIf="!pT.isLastPage()" (click)="pT.next()"><i class="fa fa-chevron-right"></i></a>
            </div>

    </pagination-template>
  </div>
</div>
