.highlights {
  color: #8d99a5;
  font-weight: 400;
}

.user {
  background-position: center !important;
  background-size: cover !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 5px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.inside-desc {
  width: 100%;
  padding: 10px 10px 0 10px;
  margin-top: 90%;
}

.desc {
  background-color: #fff;
  padding: 10px;
  width: 100%;
  border-radius: 0 0 4px 4px;
}

.desc i {
  font-size: .8rem;
}

.user span {
  font-size: 1rem;
  color: #222;
  display: block;
}

.inside-desc span {
  color: #fff;
}

.pagination {
  display: inline-block;
}

.controls a {
  padding: .8rem 1rem;
  color: #fff;
  background-color: #319dd4;
  border-radius: 50%;
  cursor: pointer;
}
