<div id="edit" *ngIf="!isLoading">
  <div class="row" *ngIf="auth.currentUser.id === foundedUser.id || auth.currentUser.role === 'admin' || auth.currentUser.role === 'moderator' ? true : router.navigate(['/home/list'])">
    <div class="col-md-6 col-12 px-2">
      <div class="card mb-3">
        <div class="card-header"><span>Fotos</span>
        </div>
        <div class="card-body pb-3">
          <div class="row text-center">
            <div class="col-6 p-0"><a class="btn-img" [routerLink]="['/home/photo/id', foundedUser.id]">Cambiar foto de perfil</a></div>
            <div class="col-6 p-0"><a class="btn-img" [routerLink]="['/home/gallery/id', foundedUser.id]">Editar mi álbum de fotos</a></div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header"><span>INFORMACIÓN PERSONAL</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <label for="region">Region</label>
              <select name="region" id="region" [(ngModel)]="foundedUser.region">
                <option value=""></option>
                <option *ngFor="let number of [1, 2, 3, 4]" [value]="number" [selected]="foundedUser.region === number">{{number}} Region</option>
              </select>
            </div>
            <div class="col-6">
              <label for="comuna">Comuna</label>
              <select name="comuna" id="comuna" [(ngModel)]="foundedUser.comuna">
                <option value=""></option>
                <option [value]="comuna" *ngFor="let comuna of option.comunas" [selected]="foundedUser.comuna === comuna">{{comuna}}</option>
              </select>
            </div>
            <div class="col-12">
              <label for="find">QUÉ BUSCAS</label>
              <select name="find" id="find" [(ngModel)]="foundedUser.looking">
                <option value=""></option>
                <option [value]="look" *ngFor="let look of option.lookings" [selected]="foundedUser.looking === look">{{look}}</option>
              </select>
            </div>
            <div class="col-12">
              <label for="title">titulo perfil:</label>
              <input type="text" name="title" id="title" [(ngModel)]="foundedUser.title">
            </div>
            <div class="col-12">
              <label for="desc">BREVE DESCRIPCIÓN</label>
              <textarea name="desc" id="desc" cols="30" rows="10" style="resize: none;" [(ngModel)]="foundedUser.description"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header"><span>INFORMACIÓN SOCIAL</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <label for="status">ESTADO CIVIL</label>
              <select name="status" id="status" [(ngModel)]="foundedUser.status">
                <option value=""></option>
                <option *ngFor="let civil of option.civils" [value]="civil"  [selected]="foundedUser.status === civil">{{civil}}</option>
              </select>
            </div>
            <div class="col-6">
              <label for="child">HIJOS</label>
              <select name="child" id="child" [(ngModel)]="foundedUser.kids">
                <option value=""></option>
                <option [value]="kids" *ngFor="let kids of option.kids" [selected]="foundedUser.kids === kids">{{kids}}</option>
              </select>
            </div>
            <div class="col-6">
              <label for="education">EDUCACIÓN</label>
              <select name="education" id="education" [(ngModel)]="foundedUser.education">
                <option value=""></option>
                <option [value]="edu" *ngFor="let edu of option.educations" [selected]="foundedUser.education === edu">{{edu}}</option>
              </select>
            </div>
            <div class="col-6">
              <label for="job">TRABAJO</label>
              <select name="job" id="job" [(ngModel)] = "foundedUser.job">
                <option value=""></option>
                <option *ngFor="let job of option.jobs" [value]="job"  [selected]="foundedUser.job === job">{{job}}</option>
              </select>
            </div>
            <div class="col-6">
              <label for="religion">RELIGIÓN</label>
              <select name="religion" id="religion" [(ngModel)] = "foundedUser.religion">
                <option value=""></option>
                <option *ngFor="let religion of option.religions" [value]="religion"  [selected]="foundedUser.religion === religion">{{religion}}</option>
              </select>
            </div>
            <div class="col-6">
              <label for="smoke">FUMADOR</label>
              <select name="smoke" id="smoke" [(ngModel)] = "foundedUser.smoker">
                <option value=""></option>
                <option *ngFor="let choose of option.choosings" [value]="choose"  [selected]="foundedUser.smoker === choose">{{choose}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 px-2">
      <div class="card mb-3">
        <div class="card-header"><span>Apariencia</span></div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <label for="height">ESTATURA</label>
              <select name="height" id="height" [(ngModel)] = "foundedUser.height">
                <option value=""></option>
                <option *ngFor="let height of option.heights" [value]="height"  [selected]="foundedUser.height === height">{{height}}</option>
              </select>
            </div>
            <div class="col-6">
              <label for="weight">PESO</label>
              <select name="weight" id="weight" [(ngModel)] = "foundedUser.weight">
                <option value=""></option>
                <option *ngFor="let weight of option.weights" [value]="weight"  [selected]="foundedUser.weight === weight">{{weight}}</option>
              </select>
            </div>
            <div class="col-12">
              <label for="body">CONTEXTURA</label>
              <select name="body" id="body" [(ngModel)] = "foundedUser.body">
                <option value=""></option>
                <option *ngFor="let body of option.bodys" [value]="body"  [selected]="foundedUser.body === body">{{body}}</option>
              </select>
            </div>
            <div class="col-6">
              <label for="hair">CABELLO</label>
              <select name="hair" id="hair" [(ngModel)] = "foundedUser.hair">
                <option value=""></option>
                <option *ngFor="let hair of option.hairs" [value]="hair"  [selected]="foundedUser.hair === hair">{{hair}}</option>
              </select>
            </div>
            <div class="col-6">
              <label for="eyes">OJOS</label>
              <select name="eyes" id="eyes" [(ngModel)] = "foundedUser.eyes">
                <option value=""></option>
                <option *ngFor="let eye of option.eyes" [value]="eye"  [selected]="foundedUser.eyes === eye">{{eye}}</option>
              </select>
            </div>
            <div class="col-6">
              <label for="tatoo">TATUAJES</label>
              <select name="tatoo" id="tatoo" [(ngModel)] = "foundedUser.tatoos">
                <option value=""></option>
                <option *ngFor="let choose of option.choosings" [value]="choose"  [selected]="foundedUser.tatoos === choose">{{choose}}</option>
              </select>
            </div>
            <div class="col-6">
              <label for="piercing">PIERCINGS</label>
              <select name="piercing" id="piercing" [(ngModel)] = "foundedUser.piercing">
                <option value=""></option>
                <option *ngFor="let choose of option.choosings" [value]="choose"  [selected]="foundedUser.piercing === choose">{{choose}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header"><span>Intereses</span></div>
        <div class="card-body pb-1">
          <div class="row inputs">
            <div class="col-12" *ngFor="let interes of option.intereses; let i = index"><span>{{interes}}</span><input type="checkbox" [(ngModel)] = "foundedUser.intereses[i]"></div>
          </div>
        </div>
      </div>
      <div class="submit text-center">
        <button class="w-100 btn btn-success py-1" (click)="updateUser(foundedUser)">Guardar</button>
      </div>
    </div>
  </div>
</div>
