header {
  background-color: #319dd4;
  padding-top: 20px;
}

.logo {
  font-weight: 100;
  color: #fff
}

.logo img {
  height: 60px;
}

.logo h6 {
  padding-left: 15px;
}

.login .text h6 {
  font-size: 14px;
  color: #fff;
}

.login-input {
  border-radius: 3px;
  height: 30px;
  padding: 6px;
  border: none;
  width: 180px;
}

.login-button {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 0 60px;
}

.forgot a {
  font-size: 11px;
  color: #fff;
  text-decoration: none;
}

.register-1 {
  background-image: url("https://d11nksploodtki.cloudfront.net/background_images/images/original/000/000/003.jpeg");
  background-size: cover;
  background-position: center 10%;
  padding: 80px 180px;
}
