<div id="home">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6>">
          <div class="logo">
            <img src="https://datingchile.cl/images/layouts/logo.svg" alt="Logo">
            <h6>Find Your Ideal</h6>
          </div>
        </div>
          <div class="col-md-6 col-lg-6">
            <div class="login">
              <div class="text">
                <h6>If you already have a profile</h6>
              </div>
              <div class="row">
                <div class="col-md-4 col-lg-4 input-type">
                  <input type="text" placeholder="Usuario" id="username" class="login-input">
                </div>
                <div class="col-md-4 col-lg-4 input-type">
                  <input type="password" placeholder="Clave" id="password" class="login-input">
                </div>
                <div class="col-md-4 col-lg-4">
                  <button class="login-button">deposit</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-lg-4">
                  <div class="remember">
                    <input type="checkbox" id="remember">
                    <label for="remember">remember data</label>
                  </div>
                </div>
                <div class="col-md-4 col-lg-4">
                  <div class="forgot">
                   <a href="#">Did you forgot your password?</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </header>
  <div id="main">
    <div class="register-1 text-center">
      <form action="">
        <div class="row">
          <div class="col-lg-12">
            <h3>Create your free profile</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <label for="sex">
              <select name="sex" id="">
                <option value=""></option>
                <option value="1">Male</option>
                <option value="2">Female</option>
              </select>
            </label>

          </div>
          <div class="col-lg-3">2</div>
          <div class="col-lg-3">3</div>
          <div class="col-lg-3">4</div>
        </div>
      </form>
    </div>
  </div>
</div>
