/*My media queries*/
@media only screen and (min-width: 768px) {
  .login-btn {
    background-color: transparent !important;
    border: 2px solid #fff !important;
  }
}

/*Styles*/

header {
  background-color: #319dd4;
  padding-top: 10px;
}

.logo img {
  height: 60px;
}

.logo h6 {
  padding-left: 15px;
  font-weight: 400;
  font-size: 18px;
}

.hide-btn {
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 5px 0;
  font-size: 14px;
}

.login-top-text h6 {
  font-size: 12px;
}

.login input[type="text"] {
  width: 100%;
  padding: 7px;
  font-size: 14px;
  color: #2d3339;
  border-radius: 3px;
  border: 1px solid #d1d1d1;
}

.login-btn {
  border-radius: 3px;
  background-color: #ff7c2e;
  color: #fff;
  border: 2px solid #ff7c2e;
  width: 100%;
}
