<div class="regs text-center">
  <div class="create-prof">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center" *ngIf="regStep === 1">
        <h3>Create your free profile</h3>
      </div>
    </div>
  </div>
    <form class="px-md-5 text-left" [formGroup]="registerForm">
      <div class="reg1" *ngIf="regStep === 1">
          <div class="row mt-lg-4 mt-md-4">
            <div class="col-lg-2 col-md-6 col-12 ml-lg-5 mt-3 mt-lg-2">
              <label for="sex">I am</label>
              <select name="sex" id="sex" formControlName="sex">
                <option value=""></option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
            <div class="col-lg-2 col-md-6 col-12 mt-3 mt-lg-2">
              <label for="search">I am looking for</label>
              <select name="search" id="search" formControlName="looking">
                <option value=""></option>
                <option *ngFor="let look of option.lookings" [value]="look">{{look}}</option>
              </select>
            </div>
            <div class="col-lg-2 col-md-4 col-12 mt-3 mt-lg-2">
              <label for="age">between</label>
              <select name="age" id="age" formControlName="between">
                <option value=""></option>
                <option value="18 & 28">18 & 28</option>
                <option value="28 & 38">28 & 38</option>
                <option value="38 & 48">38 & 48</option>
                <option value="48 & more">48 & more</option>
              </select>
            </div>
            <div class="col-lg-2 col-md-4 col-12 mt-3 mt-lg-2">
              <label for="live">living in</label>
              <select name="live" id="live" formControlName="living">
                <option value=""></option>
                <option value="Europe">Europe</option>
                <option value="Asia">Asia</option>
                <option value="North America">North America</option>
                <option value="South America">South America</option>
                <option value="Africa">Africa</option>
              </select>
            </div>
            <div class="col-lg-2 col-md-4 col-12 mt-md-3 mt-lg-2">
              <button class="btn-reg" (click)="checkValid1()">Following</button>
            </div>
          </div>
      </div>
      <div class="reg2" *ngIf="regStep === 2">
          <div class="row mt-3 px-lg-5 px-md-4 px-1">
            <div class="col-lg-6 col-md-6 col-12 pr-md-2">
              <label for="username">Nombre de Usuario</label>
              <input type="text" id="username" name="username" formControlName="username">
            </div>
            <div class="col-lg-6 col-md-6 col-12 pl-md-2 mt-3 mt-md-0">
              <label for="email">Email</label>
              <input type="text" id="email" name="email" formControlName="email" [ngClass]="setDangerEmail()">
              <span *ngIf="email.touched && email.errors?.email">Email is not valid!</span>
            </div>
          </div>
          <div class="row mt-3 px-lg-5 px-md-4 px-1">
            <div class="col-6 pr-2">
              <label for="password">Clave</label>
              <input type="password" name="password" id="password" formControlName="password" [ngClass]="setDangerPassword()">
              <span *ngIf="password.touched && password.errors?.minlength">Password must be at least 6 characters!</span>
            </div>
            <div class="col-6 pl-2">
              <div class="row">
                <label class="ml-3 w-100">Nacimiento</label>
                <div class="col-4 pr-0">
                  <select name="day" id="day" formControlName="day">
                    <option value=""></option>
                    <option *ngFor="let day of option.days" [value]="day">{{day}}</option>
                  </select>
                </div>
                <div class="col-4 px-1">
                  <select name="month" id="month" formControlName="month">
                    <option value=""></option>
                    <option *ngFor="let month of option.monthsNumbers" [value]="month-1">{{option.monthsNames[month-1]}}</option>
                  </select>
                </div>
                <div class="col-4 pl-0">
                  <select name="year" id="year" formControlName="year">
                    <option value=""></option>
                    <option *ngFor="let year of option.years" [value]="year">{{year}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3 px-lg-5 px-md-4 px-1">
            <div class="col-6 pr-2">
              <label for="edu" >Nivel Educación</label>
              <select name="edu" id="edu" formControlName="education">
                <option value=""></option>
                <option *ngFor="let edu of option.educations" [value]="edu">{{edu}}</option>
              </select>
            </div>
            <div class="col-6 pl-2">
              <label for="kids">Hijos</label>
              <select name="kids" id="kids" formControlName="kids">
                <option value=""></option>
                <option *ngFor="let kid of option.kids" [value]="kid">{{kid}}</option>
              </select>
            </div>
          </div>
          <div class="row mt-3 px-lg-5 px-md-4 px-1">
            <div class="col-6 pr-2">
              <label for="region">Región</label>
              <select name="region" id="region" formControlName="region">
                <option value=""></option>
                <option *ngFor="let number of [1, 2, 3, 4]" [value]="number">{{number}} Region</option>
              </select>
            </div>
            <div class="col-6 pl-2">
              <label for="comuna">Comuna</label>
              <select name="comuna" id="comuna" formControlName="comuna">
                <option value=""></option>
                <option *ngFor="let comuna of option.comunas" [value]="comuna">{{comuna}}</option>>
              </select>
            </div>
          </div>
          <div class="row mt-4 px-lg-5 px-md-4 px-1">
            <div class="col-md-6 col-12 pr-2">
                <input type="checkbox" id="accept">
                <label for="accept" class="ml-3 d-inline-block">Acepto <a href="">Condiciones de uso</a></label>
            </div>
            <div class="col-md-6 col-12 pl-2">
                <button class="btn-reg mt-0" (click)="register()">Finalizar</button>
            </div>
          </div>
      </div>
    </form>
    <div class="row join-us mt-lg-5 mt-md-5" *ngIf="regStep === 1">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center mt-lg-5 mt-4">
        <h5>Join us to meet people! Today we are more than 900,000 registered</h5>
      </div>
    </div>
</div>
