<div class="row pl-2">
  <div id="profile" class="p-3">
    <div class="row">
      <div class="col-lg-6 p-3">
        <div class="profile-photo px-4">
          <img [src]="'/assets/userImg/' + foundedUser.imgUrl" alt="Profile photo">
        </div>
      </div>
      <div class="user-info col-lg-6 p-3">
        <div>
          <h3 class="user-name">{{foundedUser.username}}, 18 years</h3>
        </div>
        <div>
          <p>
            Hola soy {{foundedUser.username}}, vivo en Caldera, no tengo hijos y busco Amigos
          </p>
        </div>
        <div>
          <h3>En qué coincidimos</h3>
        </div>
        <div>
          <h3>Más acerca de {{foundedUser.username}}</h3>
          <table class=" mt-2 table table-striped user-data">
            <tbody>
              <tr>
                <td>
                  <span>Estada Civil:</span>
                </td>
                <td>
                  <span>Hijos: </span>
                  <span>No</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span>Educación: </span>
                  <span>Basica</span>
                </td>
                <td>
                  <span>Trabajo:</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span>Religión:</span>
                </td>
                <td>
                  <span>Signo: </span>
                  <span>Piscis</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span>Estatura:</span>
                </td>
                <td>
                  <span>Peso:</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span>Contextura:</span>
                </td>
                <td>
                  <span>Cabello:</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span>Ojos:</span>
                </td>
                <td>
                  <span>Fumador:</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span>Tatuajes:</span>
                </td>
                <td>
                  <span>Piercings:</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
