<div class="row pl-2" *ngIf="!isLoading">
  <div id="profile" class="p-3">
    <div class="row">
      <div class="col-lg-6 p-3">
        <div class="profile-photo px-4">
          <img [src]="'/assets/userImg/' + foundedUser.imgUrl" alt="Profile photo">
        </div>
        <div class="pt-5 px-4">
          <a [routerLink]="['/home/gallery/id', foundedUser.id]" class="edit-btn">Gallery <i class="fa fa-photo"></i></a>
        </div>
      </div>
      <div class="user-info col-lg-6 p-3">
        <div>
          <h3 class="user-name">{{foundedUser.username}}, {{setUserAge(foundedUser)}} years</h3>
        </div>
        <div>
          <p>
            Hola soy {{foundedUser.username}}, vivo en <span style="text-transform: capitalize;">{{foundedUser.comuna}}</span>,
            <span *ngIf="foundedUser.kids === 'no'">no</span> tengo hijos y busco <span class="text-capitalize">{{foundedUser.looking}}</span>
          </p>
        </div>
        <div>
          <h3>En qué coincidimos</h3>
        </div>
        <div>
          <h3>Más acerca de {{foundedUser.username}}</h3>
          <table class=" mt-2 table table-striped user-data">
            <tbody>
              <tr>
                <td>
                  <span>Estada Civil:</span>
                </td>
                <td>
                  <span>Hijos: </span>
                  <span>{{foundedUser.kids}}</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span>Educación: </span>
                  <span>{{foundedUser.education}}</span>
                </td>
                <td>
                  <span>Trabajo:</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span>Religión:</span>
                </td>
                <td>
                  <span>Signo: </span>
                  <span>Piscis</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span>Estatura:</span>
                </td>
                <td>
                  <span>Peso:</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span>Contextura:</span>
                </td>
                <td>
                  <span>Cabello:</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span>Ojos:</span>
                </td>
                <td>
                  <span>Fumador:</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span>Tatuajes:</span>
                </td>
                <td>
                  <span>Piercings:</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-right" *ngIf="(auth.currentUser.role === 'admin' || auth.currentUser.role === 'moderator') && !(foundedUser.id === auth.currentUser.id)">
          <a [routerLink]="['/home/edit/id', foundedUser.id]" class="edit-btn">Edit profile <i class="fa fa-pencil"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
