<div id="home">
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12 text-sm-center text-center text-lg-left text-md-left">

        <div class="logo mb-3 mb-sm-3 mb-lg-0 mb-md-0">
          <img src="https://datingchile.cl/images/layouts/logo.svg" alt="Logo">
          <h6>Find Your Ideal</h6>
        </div>

        <div class="logo mb-3 mb-sm-3 mb-lg-0 mb-md-0 hide-btn d-lg-none d-md-none">
          <a class="toggle-login-btn" data-toggle="collapse" href="#login-form" role="button" aria-expanded="false" aria-controls="login-form">
            Already you have a profile?
          </a>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="login collapse d-lg-block d-md-block" id="login-form">
          <div class="login-top-text d-lg-block d-md-block d-sm-none d-none">
            <h6>If you already have a profile</h6>
          </div>
          <form action="">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-12 pr-lg-1 pr-md-1">
                <input type="text" name="login" placeholder="Usuario" class="p-lg-1 p-md-1 mb-sm-3 mb-3 mb-lg-0 mb-md-0" required>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-12 px-lg-1 px-md-1">
                <input type="password" name="password" placeholder="Clave" class="p-lg-1 p-md-1 mb-sm-3 mb-3 mb-lg-0 mb-md-0" required>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 pl-lg-1 pl-md-1 mb-3 mb-sm-3 mb-lg-0 mb-md-0">
                  <button class="login-btn" type="submit">deposit</button>
              </div>
          </div>
          </form>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-6 text-left info">
              <input type="checkbox" id="remember">
              <label for="remember">remember data</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-6 text-left info">
              <a href="#">Did you forgot your password?</a>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</header>
<div id="main">
  <div class="hero-color py-lg-3 py-md-3 py-sm-3 py-5">
    <div class="container py-md-5">
    <form action="" class="form px-md-5">
      <div class="regs text-center">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
              <h3>Create your free profile</h3>
            </div>
          </div>
          <div class="row mt-lg-4 mt-md-4">
            <div class="col-lg-2 col-md-6 col-sm-12 col-12 text-left ml-lg-5 mt-lg-2 mt-2">
              <label for="sex">I am</label>
              <select name="sex" id="sex">
                <option value=""></option>
                <option value="1">Male</option>
                <option value="2">Female</option>
              </select>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 col-12 text-left mt-3 mt-lg-2">
              <label for="search">I am looking for</label>
              <select name="search" id="search">
                <option value=""></option>
                <option value="1">Husband</option>
                <option value="2">Boyfriend</option>
              </select>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 col-12 text-left mt-md-3 mt-3 mt-lg-2">
              <label for="age">between</label>
              <select name="age" id="age">
                <option value=""></option>
                <option value="1">18 & 28</option>
                <option value="2">28 & 38</option>
                <option value="3">38 & 48</option>
                <option value="4">48 & more</option>
              </select>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 col-12 text-left mt-md-3 mt-3 mt-lg-2">
              <label for="live">living in</label>
              <select name="live" id="live">
                <option value=""></option>
                <option value="1">Europe</option>
                <option value="2">Asia</option>
                <option value="3">North America</option>
                <option value="4">South America</option>
                <option value="5">Africa</option>
              </select>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 col-12 mt-md-2 mt-lg-0">
              <button class="btn-reg">Following</button>
            </div>
          </div>
          <div class="row join-us mt-lg-5 mt-md-5">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center mt-lg-5 mt-4">
              <h5>Join us to meet people! Today we are more than 900,000 registered</h5>
            </div>
          </div>
      </div>
    </form>
      </div>
  </div>
   <div class="carousel">
    <div class="container">
      <div class="row py-lg-4 py-4">
        <div class="col-lg-1 col-4 col-md-2 mr-lg-3">
          <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
        </div>
        <div class="col-lg-1 col-4 col-md-2 mr-lg-3">
          <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
        </div>
        <div class="col-lg-1 col-4 col-md-2 mr-lg-3">
          <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
        </div>
        <div class="col-lg-1 col-md-2 d-md-block d-none mr-lg-3">
          <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
        </div>
        <div class="col-lg-1 col-md-2 d-md-block d-none mr-lg-3">
          <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
        </div>
        <div class="col-lg-1 col-md-2 d-md-block d-none mr-lg-3">
          <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
        </div>
        <div class="col-lg-1 col-md-2 col-md-2 d-lg-block d-none mr-lg-3">
          <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
        </div>
        <div class="col-lg-1 col-md-2 d-lg-block d-none mr-lg-3">
          <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
        </div>
        <div class="col-lg-1 col-md-2 d-lg-block d-none mr-lg-3">
          <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
        </div>
        <div class="col-lg-1 col-md-2 d-none d-lg-block">
          <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
        </div>
      </div>
    </div>
   </div>
</div>
</div>
<router-outlet></router-outlet>
