<div id="home">
  <header>
    <nav class="navbar shadow">
      <div class="container">
        <ul class="dating-nav left">
        <li class="desk-text-btn">
          <div class="main-nav-btn">
            <a href="/home">
              <img src="https://datingchile.cl/images/layouts/logo.svg" alt="Logo" class="logo">
            </a>
          </div>
        </li>
        <li>
          <a href="/home" class="main-nav-btn active">
            <span>Initation</span>
          </a>
        </li>
        <li>
          <a href="/home" class="main-nav-btn">
            <span>Events</span>
          </a>
        </li>
        <li>
          <a href="/home" class="main-nav-btn">
            <span>Blogs</span>
          </a>
        </li>
        <li>
          <a href="/home" class="main-nav-btn special-nav">
            <span>Payment Center</span>
          </a>
        </li>
      </ul>
        <ul class="dating-nav right">
          <li class="desk-text-btn">
        <span class="main-nav-btn dropdown">
          <span class="vip-days">
            <a href="/home">
              <span class="vip-days">0 Days VIP</span>
            </a>
          </span>
          •
          <a class="user-name">
            Configuration
            <i class="fa fa-gear"></i>
          </a>
          <div class="topbar-user">
            <a href="/home" class="wrap-pic">
              <img src="https://datingchile.cl/images/user/defaultMan.jpg">
            </a>
          </div>
        </span>
      </li>
       </ul>
      </div>
    </nav>
  </header>
  <div class="main-section">
    <div class="container">
      <div class="col-menu">
        <div class="left-panel">
          <ul class="main-left-menu">
            <li>
              <a href="/home">
                Recomendation
                <i class="number">0</i>
              </a>
            </li>
            <li><a href="/home">
              Conversations
              <i class="number">0</i>
            </a></li>
            <li><a href="/home">
              I like
              <i class="number">0</i>
            </a></li>
            <li><a href="/home">
              Les Gusto
              <i class="number">0</i>
            </a></li>
            <li><a href="/home">
              Mutual interest
              <i class="number">0</i>
            </a></li>
            <li><a href="/home">
              I visited
              <i class="number">0</i>
            </a></li>
          </ul>
          <ul class="left-search">
            <li>
              <a href="/home" class="search-btn">
                <span>
                  Meet single
                  <i class="fa fa-search"></i>
                </span>
              </a>
            </li>
          </ul>
          <ul class="main-left-menu">
            <li>
              <a href="/home">
              New faces
              <img src="https://datingchile.cl/images/layouts/newfaces.png" class="left-menu-pic">
            </a>
            </li>
            <li>
              <a href="/home">
                Users online
                <img src="https://datingchile.cl/images/layouts/chat.png" class="left-menu-pic">
              </a>
            </li>
            <li>
              <a href="/home">
                Birthday
                <img src="https://datingchile.cl/images/layouts/birthday.png" class="left-menu-pic">
              </a>
            </li>
          </ul>
          <ul class="menu-footer">
            <li>
              <a href="/home">Testimonios</a>
            </li>
            <li>
              <a href="/home">About</a>
            </li>
            <li>
              <a href="/home">Blog</a>
            </li>
            <li>
              <a href="/home">Privacy</a>
            </li>
            <li>
              <a href="/home">Datingchile &copy; 2018</a>
            </li>
          </ul>
        </div>

      </div>
      <div class="col-users">
        <h5 class="highlights">Highlights of day</h5>

        <div class="row">
          <div class="col-lg-3">
            <div class="user-item">
              <div class="user-pic">
                <a href="/home">
                  <img class="user-img" src="https://datingchile.cl/dating-profile-photos/5b/30/dd/5b30ddcc2066300695404407_1529929648729_large.jpg">
                </a>
                <div class="pic-desc">
                  <a href="/home">
                    <h6 class="name">mazer</h6>
                  </a>
                  <p>20 years</p>
                  <a href="/home">
                    <i class="fa fa-comment"></i>
                    <span>Chat</span>
                  </a>
                </div>
              </div>
              <div class="user-desc-cont">
                <ul class="user-desc">
                  <li>
                    <span class="search-for">Search Friends</span>
                  </li>
                  <li>
                    <span class="location">Los Angeles</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="user-pic">
              <a href="/home">
                <img class="user-img" src="https://datingchile.cl/dating-profile-photos/5b/30/dd/5b30ddcc2066300695404407_1529929648729_large.jpg">
              </a>
              <div class="pic-desc">
                <a href="/home">
                  <h6 class="name">mazer</h6>
                </a>
                <p>20 years</p>
                <a href="/home">
                  <i class="fa fa-comment"></i>
                  <span>Chat</span>
                </a>
              </div>
            </div>
            <div class="user-desc-cont">
              <ul class="user-desc">
                <li>
                  <span class="search-for">Search Friends</span>
                </li>
                <li>
                  <span class="location">Los Angeles</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="user-pic">
              <a href="/home">
                <img class="user-img" src="https://datingchile.cl/dating-profile-photos/5b/30/dd/5b30ddcc2066300695404407_1529929648729_large.jpg">
              </a>
              <div class="pic-desc">
                <a href="/home">
                  <h6 class="name">mazer</h6>
                </a>
                <p>20 years</p>
                <a href="/home">
                  <i class="fa fa-comment"></i>
                  <span>Chat</span>
                </a>
              </div>
            </div>
            <div class="user-desc-cont">
              <ul class="user-desc">
                <li>
                  <span class="search-for">Search Friends</span>
                </li>
                <li>
                  <span class="location">Los Angeles</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="user-pic">
              <a href="/home">
                <img class="user-img" src="https://datingchile.cl/dating-profile-photos/5b/30/dd/5b30ddcc2066300695404407_1529929648729_large.jpg">
              </a>
              <div class="pic-desc">
                <a href="/home">
                  <h6 class="name">mazer</h6>
                </a>
                <p>20 years</p>
                <a href="/home">
                  <i class="fa fa-comment"></i>
                  <span>Chat</span>
                </a>
              </div>
            </div>
            <div class="user-desc-cont">
              <ul class="user-desc">
                <li>
                  <span class="search-for">Search Friends</span>
                </li>
                <li>
                  <span class="location">Los Angeles</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
