<div id="home">
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12 text-sm-center text-center text-lg-left text-md-left">

        <div class="logo mb-3 mb-sm-3 mb-lg-0 mb-md-0">
          <img src="https://datingchile.cl/images/layouts/logo.svg" alt="Logo">
          <h6>Find Your Ideal</h6>
        </div>

        <div *ngIf="!auth.loggedIn" class="logo mb-3 mb-sm-3 mb-lg-0 mb-md-0 hide-btn d-lg-none d-md-none">
          <a class="toggle-login-btn" data-toggle="collapse" href="#login-form" role="button" aria-expanded="false" aria-controls="login-form">
            Already you have a profile?
          </a>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <app-login *ngIf="!auth.loggedIn"></app-login>
        <app-account *ngIf="auth.loggedIn"></app-account>
      </div>
    </div>
  </div>
</header>
<div id="main">
  <div class="hero-color py-lg-3 py-md-3 py-sm-3 py-5">
    <div class="container py-md-5">
      <app-register></app-register>
    </div>
  </div>
   <div class="carousel">
    <div class="container">
      <div class="row py-lg-4 py-4">
        <div class="col-lg-1 col-4 col-md-2 mr-lg-3">
          <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
        </div>
        <div class="col-lg-1 col-4 col-md-2 mr-lg-3">
          <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
        </div>
        <div class="col-lg-1 col-4 col-md-2 mr-lg-3">
          <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
        </div>
        <div class="col-lg-1 col-md-2 d-md-block d-none mr-lg-3">
          <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
        </div>
        <div class="col-lg-1 col-md-2 d-md-block d-none mr-lg-3">
          <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
        </div>
        <div class="col-lg-1 col-md-2 d-md-block d-none mr-lg-3">
          <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
        </div>
        <div class="col-lg-1 col-md-2 col-md-2 d-lg-block d-none mr-lg-3">
          <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
        </div>
        <div class="col-lg-1 col-md-2 d-lg-block d-none mr-lg-3">
          <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
        </div>
        <div class="col-lg-1 col-md-2 d-lg-block d-none mr-lg-3">
          <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
        </div>
        <div class="col-lg-1 col-md-2 d-none d-lg-block">
          <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
        </div>
      </div>
    </div>
   </div>
</div>
</div>
<router-outlet></router-outlet>
