<div id="start">
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12 text-sm-center text-center text-lg-left text-md-left">

        <div class="logo mb-3 mb-sm-3 mb-lg-0 mb-md-0">
          <img src="/assets/logo4.svg" alt="Logo">
          <h6>Find Your Ideal</h6>
        </div>

        <div *ngIf="!auth.loggedIn" class="logo mb-3 mb-sm-3 mb-lg-0 mb-md-0 hide-btn d-lg-none d-md-none">
          <a class="toggle-login-btn" data-toggle="collapse" href="#login-form" role="button" aria-expanded="false" aria-controls="login-form">
            Already you have a profile?
          </a>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <app-login *ngIf="!auth.loggedIn"></app-login>
        <app-account *ngIf="auth.loggedIn"></app-account>
      </div>
    </div>
  </div>
</header>
<div id="main">
  <div class="hero-color py-lg-3 py-md-3 py-sm-3 py-5">
    <div class="container py-md-5">
      <app-register></app-register>
    </div>
  </div>
 <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel" data-interval="3000">
  <div class="container">
    <div class="row py-lg-4 py-4">
      <div class="carousel-inner w-100" role="listbox">
        <div class="carousel-item active">
          <div class="col-lg-1 col-4 col-md-2 mr-lg-3">
            <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-lg-1 col-4 col-md-2 mr-lg-3">
            <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-lg-1 col-4 col-md-2 mr-lg-3">
            <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-lg-1 col-4 col-md-2 mr-lg-3">
            <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-lg-1 col-4 col-md-2 mr-lg-3">
            <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-lg-1 col-4 col-md-2 mr-lg-3">
            <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-lg-1 col-4 col-md-2 mr-lg-3">
            <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-lg-1 col-4 col-md-2 mr-lg-3">
            <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-lg-1 col-4 col-md-2 mr-lg-3">
            <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-lg-1 col-4 col-md-2 mr-lg-3">
            <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-lg-1 col-4 col-md-2 mr-lg-3">
            <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-lg-1 col-4 col-md-2 mr-lg-3">
            <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-lg-1 col-4 col-md-2 mr-lg-3">
            <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-lg-1 col-4 col-md-2 mr-lg-3">
            <img src="https://datingchile.cl/dating-profile-photos/57/e4/88/57e4882f4b5bec00184ab2ea_1512217122860_small.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
  <!--<div class="container text-center my-3">-->
    <!--<h2>Bootstrap 4 Multiple Item Carousel</h2>-->
    <!--<div class="row mx-auto my-auto">-->
      <!--<div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">-->
        <!--<div class="carousel-inner w-100" role="listbox">-->
          <!--<div class="carousel-item active">-->
            <!--<img class="d-block col-3 img-fluid" src="http://placehold.it/350x180?text=1">-->
          <!--</div>-->
          <!--<div class="carousel-item">-->
            <!--<img class="d-block col-3 img-fluid" src="http://placehold.it/350x180?text=2">-->
          <!--</div>-->
          <!--<div class="carousel-item">-->
            <!--<img class="d-block col-3 img-fluid" src="http://placehold.it/350x180?text=3">-->
          <!--</div>-->
          <!--<div class="carousel-item">-->
            <!--<img class="d-block col-3 img-fluid" src="http://placehold.it/350x180?text=4">-->
          <!--</div>-->
          <!--<div class="carousel-item">-->
            <!--<img class="d-block col-3 img-fluid" src="http://placehold.it/350x180?text=5">-->
          <!--</div>-->
          <!--<div class="carousel-item">-->
            <!--<img class="d-block col-3 img-fluid" src="http://placehold.it/350x180?text=6">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<h4>Advances one slide at a time</h4>-->
  <!--</div>-->
</div>
<router-outlet></router-outlet>
